* {
  box-sizing: border-box;
}

/* BASIC */

html {
  font-family: lato, serif;
  color: #606060;
}

body {
  background-color: #e3e3e3;
  font-size: 0.875rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

select {
  border: none;
  border-radius: 10px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

p {
  display: flex;
}

button {
  border-radius: 10px;
  border: none;
  background-color: white;
  padding: 20px;
  cursor: pointer;
  outline: none;
  margin: 4px;
}

/* Layout */

.main-container {
  max-width: 1100px;
  height: 100%;
  margin: 0 10px;
}

/* Header */

header {
  background-color: rgba(26, 188, 156, 0.795);
  height: 98px;
  font-size: 1rem;
  color: #ffffff;
  position: sticky;
  z-index: 99;
  top: 0;
}

.logo {
  cursor: pointer;
}

.hamburger {
  display: inline-block;
}

.main-nav {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

body.menu-open .main-nav ul {
  transform: translateY(4%);
  opacity: 1;
  transition: 0.8s;
}

.main-nav ul {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 11%;
  opacity: 0;
  transform: translateY(-125%);
}

.main-nav li {
  width: 100%;
  padding: 30px 0;
  background-color: white;
  color: rgb(26, 188, 156);
  cursor: pointer;
}

.main-nav li:not(:first-child) {
  border-top: 1px solid gray;
}

.main-nav li a {
  cursor: pointer;
}
.main-nav li:hover {
  color: black;
}

.main-nav li:active {
  color: black;
}
.main-nav img {
  object-fit: cover;
}

/* Search Header */

.search-header {
  background-color: rgb(255, 255, 255);
  height: 80px;
  margin-bottom: 26px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content {
  font-size: 1rem;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.keywords-container {
  padding-bottom: 10px;
}
.search-header input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: url("../img/search-icon.png") no-repeat right center;
  padding: 0 0;
  height: 50px;
}
.search-header a {
  border-bottom: 1px solid black;
  margin-inline-start: 5px;
}

/* Meme Editor */

.icon {
  width: 20px;
}

.drag-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.drag-modal h3 {
  color: #e1e0e0;
  background-color: rgb(0, 0, 0);
  font-size: 3rem;
  opacity: 0.5;
  transition: 0.8s;
}

.drag-modal img {
  width: 50px;
}

.stickers-container img {
  width: 50px;
  cursor: pointer;
}
.stickers-container {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  margin: 10px auto;
}

.controls-container {
  max-width: 373px;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.move-container {
  display: none!important;
}

.font-color-w-container {
  position: relative;
}

.font-color-w-container input {
  opacity: 0;
  position: fixed;
}

.font-color-w-container select {
  padding: 22px 30px;
}

.text-input-container input {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  margin: 10px;
}

.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#my-canvas {
  border-radius: 10px;
}

.canvas-container {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid grey;
}
.share-container {
  width: 100%;
  display: flex;
}

.share-container button {
  flex-grow: 1;
}

/* Memes Container */

.memes-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(10, 140px);
  grid-gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
}

.memes-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Search Page Container */

.search-page-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(10, 140px);
  grid-gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
}

.search-page-container > img {
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.search-page-container img {
  cursor: pointer;
}

/* Gallery */

.gallery-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(8, 140px);
  grid-gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
}

.gallery-container .gallery-img-container > img {
  object-fit: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gallery-container .gallery-img-container > img:hover {
border: 1px solid white;
filter: brightness(120%);
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 207px;
  margin: auto;
  background-color: rgba(26, 188, 156, 0.747);
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.footer-container img {
  padding-bottom: 10px;
}

.footer-container  a{
  color: #e1e0e0;
}


/* fade-in img */


.overlay {
  position: absolute;
  padding: 100px;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease;
  background-color: #008CBA;
}

.gallery-img-container img:hover :first-of-type .overlay {
  opacity: 1;
  visibility: visible;
}

/* Helpers */

/* flex helpers */

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* list-helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Border Helper */

.lrb-borders {
  border-bottom: 1px solid #e1e0e0;
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
}

.center {
  width: 100%;
  text-align: center;
  margin: auto;
}

/* General Helpers */

.pointer {
  cursor: pointer;
}

/* Media Queries */

/* Super Narrow */
@media (min-width: 600px) {
  .gallery-container {
    padding: 0 10px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .search-page-container {
    padding: 0 10px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .canvas-container {
    width: 540px;
    height: 540px;
  }
}

/* Extra Narrow */
@media (min-width: 900px) {
  .gallery-container {
    padding: 0 10px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(8, 400px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .search-page-container {
    padding: 0 10px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(8, 400px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .canvas-container {
    width: 540px;
    height: 540px;
  }
  .controls-container {
    width: 100%;
  }
  .font-color-w-container select {
    padding: 22px 70px;
  }
}

/* Narrow */

@media (min-width: 980px) {
  .gallery-container {
    padding: 0 10px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .search-page-container {
    padding: 0 10px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  .search-header {
    height: 80px;
    margin-bottom: 26px;
  }

  .search-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .search-header input {
    padding: 5px 0;
  }
  .keywords-container {
    padding-bottom: 0;
  }
  .editor-container {
    flex-direction: row;
  }
  .main-nav ul {
    position: static;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    top: 38px;
    opacity: 1;
    transform: none;
    background-color: none;
  }
  .main-nav li {
    font-size: 1.1rem;
    padding-inline-start: 10px;
    width: inherit;
    background-color: unset;
    color: #ffffff;
    cursor: pointer;
  }
  .main-nav li:not(:first-child) {
    border-top: none;
  }
  .hamburger {
    display: none;
  }
  .canvas-container {
    width: 540px;
    height: 540px;
  }
}

/* Normal */

@media (min-width: 1100px) {
  .gallery-container {
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 20px;
    padding-bottom: 20px;
  }
  .main-container {
    margin: 0 auto;
  }
  .canvas-container {
    width: 540px;
    height: 540px;
  }
}
